@mixin media-q($screen){
    $value: map-get($breakpoint, $screen);
    $mobile: map-get($breakpoint, 'mobile');

    @if $value == null {
        @error "#{value}, is not a valid media query name";
    }
    @else if $value == $mobile{
        @media(max-width: $value){
            @content;
        }
    }
    @else{
        @media(min-width: $value){
            @content;
        }
    }
}

@mixin roundy($radius){
    border-radius: $radius;
}