.body{
    position: relative;
}


.home img{
    width: 100%;
    margin: 90px 0;
}

.card-img-top {
    max-height: 150px;
}

.social-media{
    font-size: 2.75rem;
}



.code-choice {
    cursor: pointer;
}

.carrot-open,
.carrot-close {
    font-size: 30px;
    transition: ease-out 350ms;
    margin: 5px 0 0 10px;
}

.carrot-open {
    transform:rotate(90deg)
}

.portfolio-section{
    display: inline;
}

.project-toggle-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-toggle-wrap h4 {
    margin: 0;    
}
