.card-img-top {
    max-height: 150px;
}

.social-media{
    font-size: 2.75rem;
}

div a i{
    color:red;
}

.code-choice {
    cursor: pointer;
}

.carrot-open {
    font-size: 30px;
    transform: rotate(90deg);
    transition: ease-in-out 500ms;
   
}